<!DOCTYPE html>
<html lang="en" ng-app='app'>
	<head>
		<title>ES6- Angular Scaffolding app</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

		<link href='/bootstrap/dist/css/bootstrap.min.css' type='text/css' rel='stylesheet' />
		<link href="/css/style.css" rel="stylesheet">

	</head>
	<body class='app-body'>
		<section class='loader-container-screen'><section class='loader'></section></section>
		
		
		<section class='container'>
			<section ui-view></section>
		</section>	
		
	
		<script type='text/javascript' src='/jquery/dist/jquery.min.js' ></script>
		<script type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js' ></script>

		<!-- angular JS dependency -->
		<script type='text/javascript' src='/angular/angular.min.js' type='text/javascript'></script>
		<script type='text/javascript' src='/angular-ui-router/release/angular-ui-router.min.js' ></script>
		<script type='text/javascript' src='/scripts/app.min.js' type='text/javascript'></script>

		<script type='text/javascript' src='/scripts/main.js' ></script>
	
	</body>
</html>