<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

		<link href='/bootstrap/dist/css/bootstrap.min.css' type='text/css' rel='stylesheet' />
		<link href="/css/style.css" rel="stylesheet">

	</head>
	<body class='app-body'>
		<section class='loader-container-screen'>
			<section class='loader'></section>
		</section>
		<h1 class='page-haeder text-center'>
			ES-6 scaffolding is up and running
		</h1>


		<script type='text/javascript' src='/jquery/dist/jquery.min.js' ></script>
		<script type='text/javascript' src='/bootstrap/dist/js/bootstrap.min.js' ></script>

		<script type='text/javascript' src='/scripts/main.js' ></script>
	</body>
</html>